body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.heading-orange {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.hire-me-btn {
    border: 2px solid orange;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: orange;
}